*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ol,ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
  height:auto;width:auto;
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
 
  margin: 0 auto;
}
//?-------------------HEADER----------------------
header {
  margin-top: 50px;
  border-bottom: 1px solid #EAEAEA;
  img{
    margin-right: 15px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}
//?-------------------КОНТЕНТ----------------------
.content {
  
  h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  &__search{
    position: relative;
    .clear{
      position: absolute;
      right: 0;
      width: 14px;
      height: 14px;
      
    }
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    input{
      width: 200px;
    }
    img{
      margin-right: 18px;
      width: 15px;
      height: 15px;
    }
  }
  &__cards{
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}

//?-------------------DRAWER----------------------

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 30px;
  }
}
//?-------------------DRAWER--ITEM----------------------
.cart__items{
  flex: 1;
  overflow: auto;
  margin-bottom: 30px;
}

.cartTotalBlock{
  ul{
    margin-bottom: 35px;
    li{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      div{
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -2px;
        margin: 0px 7px;
      }
    }
  }
  .greenButton{
    position: relative;
    &:hover{
      img{
        transform: translateX(5px);
      }
    }
    img{
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
 
}

.greenButton{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover{
      background: lighten(#9DD558, 5%);
    }
    &:active{
      background: darken(#9DD558, 5%);
    }
}

.cart{ //cardItem
  &:not(:last-of-type){
    margin-bottom: 20px;
  }
  overflow: hidden;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 30px 20px;
  img:nth-child(1){
    margin-top: -15px;
    width: 70px;
    height: 70px;
    margin-right: 21px;
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 8px;
  }
  b{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  img:last-child{
    margin-left: 10px;
  }
  &__remove{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
}